body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 6fr;
}

.sidebar {
    display: grid;
    width: 100%;
    grid-row: span 2;
    margin: 0 auto;
    background-color: #2563eb;
    color: #eff6ff;
}

.header {
    display: grid;
    background-color: #f8fafc;
    color: #020617;
}

ul {
    display: flex;
    align-items: space-evenly;
    flex-direction: column;
}

.part-1, .part-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.sidebar ul {
    display: grid;
    align-items: center;
    justify-items: center;
}
.cards {
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    background-color: #e2e8f0;
}

.projects {
    display: grid;
}
.ann {
    padding: 50px;
}

    /* CSS */
    .button-1 {
        background-color: #1d4ed8;
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 100ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-1:hover,
    .button-1:focus {
        background-color: #3b82f6;
    }

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.notify {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.p-1 {
    padding: 10px;
}

.card, .ann {
    padding: 10px;
    border: 1px solid transparent;
    margin: 10px 10px 10px 0px;
    border-radius: 16px;
    box-shadow: none;
    background: #f1f5f9;
}
